
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 {
			text-align: left;
		}
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li > a {
			font-size: 14px;
			font-family: "Tahoma";
			font-weight: bold;
			font-style: normal;
		}
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li > a .navigation-item-text {
			text-decoration: none;
		}
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.selected > a .navigation-item-text,
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.childselected > a .navigation-item-text {
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
		}
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li:hover > a .navigation-item-text {
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
		}
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.selected:hover > a .navigation-item-text,
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.childselected:hover > a .navigation-item-text {
			font-weight: bold;
		}


		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 { background-color: ; }
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 > li > a { color: #0400cc;}
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 > li { background-color: ; }
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.selected > a, #widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.childselected > a { color: #0400CC; }
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.selected, #widget-617ca861-db53-45a1-27f0-a036f4a59f85 li.childselected { background-color: white; }
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 ul > li > a { color: #0400cc; }
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 ul > li { background-color: ; }
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li:hover > a { color: #0400CC !important; }
		#widget-617ca861-db53-45a1-27f0-a036f4a59f85 li:hover { background-color: #98C2D2 !important; }
		