.separators6-horizontal {
	height: 10px;
	background-image: url("../images/separator6.png?template=generic");
}

.separators6-vertical {
	width: 10px;
	background-image: url("../images/separator6.png?template=generic");
}.separators4-horizontal {
	height: 16px;
	background-image: url("../images/separator4.png?template=generic");
}

.separators4-vertical {
	width: 16px;
	background-image: url("../images/separator4.png?template=generic");
}.separators9-horizontal {
	height: 24px;
	background-image: url("../images/separator9.png?template=generic");
}

.separators9-vertical {
	width: 16px;
	background-image: url("../images/separator9.png?template=generic");
}.separators2-horizontal {
	height: 10px;
	background-image: url("../images/separator2.png?template=generic");
}

.separators2-vertical {
	width: 10px;
	background-image: url("../images/separator2.png?template=generic");
}.separators7-horizontal {
	height: 16px;
	background-image: url("../images/separator7.png?template=generic");
}

.separators7-vertical {
	width: 16px;
	background-image: url("../images/separator7.png?template=generic");
}.separators1-horizontal {
	height: 1px;
	background-image: url("../images/separator1.png?template=generic");
}

.separators1-vertical {
	width: 1px;
	background-image: url("../images/separator1.png?template=generic");
}.separators5-horizontal {
	height: 1px;
	background-image: url("../images/separator5.png?template=generic");
}

.separators5-vertical {
	width: 1px;
	background-image: url("../images/separator5.png?template=generic");
}.separators10-horizontal {
	height: 10px;
	background-image: url("../images/separator10.png?template=generic");
}

.separators10-vertical {
	width: 10px;
	background-image: url("../images/separator10.png?template=generic");
}.separators3-horizontal {
	height: 16px;
	background-image: url("../images/separator3.png?template=generic");
}

.separators3-vertical {
	width: 16px;
	background-image: url("../images/separator3.png?template=generic");
}.separators8-horizontal {
	height: 18px;
	background-image: url("../images/separator8.png?template=generic");
}

.separators8-vertical {
	width: 18px;
	background-image: url("../images/separator8.png?template=generic");
}.background5-white {
	background-image: url('../images/background5-white.png?template=generic');
}
.background2-black {
	background-image: url('../images/background2-black.png?template=generic');
}
.background17-black {
	background-image: url('../images/background17-black.png?template=generic');
}
.background25-black {
	background-image: url('../images/background25-black.png?template=generic');
}
.background5-black {
	background-image: url('../images/background5-black.png?template=generic');
}
.background8-white {
	background-image: url('../images/background8-white.png?template=generic');
}
.background9-white {
	background-image: url('../images/background9-white.png?template=generic');
}
.background20-black {
	background-image: url('../images/background20-black.png?template=generic');
}
.background20-white {
	background-image: url('../images/background20-white.png?template=generic');
}
.background11-white {
	background-image: url('../images/background11-white.png?template=generic');
}
.background10-white {
	background-image: url('../images/background10-white.png?template=generic');
}
.background18-white {
	background-image: url('../images/background18-white.png?template=generic');
}
.background12-white {
	background-image: url('../images/background12-white.png?template=generic');
}
.background24-white {
	background-image: url('../images/background24-white.png?template=generic');
}
.background12-black {
	background-image: url('../images/background12-black.png?template=generic');
}
.background10-black {
	background-image: url('../images/background10-black.png?template=generic');
}.background19-black {
	background-image: url('../images/background19-black.png?template=generic');
}
.background7-white {
	background-image: url('../images/background7-white.png?template=generic');
}
.background13-white {
	background-image: url('../images/background13-white.png?template=generic');
}
.background22-black {
	background-image: url('../images/background22-black.png?template=generic');
}
.background15-white {
	background-image: url('../images/background15-white.png?template=generic');
}
.background4-white {
	background-image: url('../images/background4-white.png?template=generic');
}
.background25-white {
	background-image: url('../images/background25-white.png?template=generic');
}
.background18-black {
	background-image: url('../images/background18-black.png?template=generic');
}
.background14-black {
	background-image: url('../images/background14-black.png?template=generic');
}
.background22-white {
	background-image: url('../images/background22-white.png?template=generic');
}
.background2-white {
	background-image: url('../images/background2-white.png?template=generic');
}
.background21-white {
	background-image: url('../images/background21-white.png?template=generic');
}
.background19-white {
	background-image: url('../images/background19-white.png?template=generic');
}
.background9-black {
	background-image: url('../images/background9-black.png?template=generic');
}
.background13-black {
	background-image: url('../images/background13-black.png?template=generic');
}
.background7-black {
	background-image: url('../images/background7-black.png?template=generic');
}
.background15-black {
	background-image: url('../images/background15-black.png?template=generic');
}
.background11-black {
	background-image: url('../images/background11-black.png?template=generic');
}
.background8-black {
	background-image: url('../images/background8-black.png?template=generic');
}
.background23-white {
	background-image: url('../images/background23-white.png?template=generic');
}
.background3-black {
	background-image: url('../images/background3-black.png?template=generic');
}
.background17-white {
	background-image: url('../images/background17-white.png?template=generic');
}
.background23-black {
	background-image: url('../images/background23-black.png?template=generic');
}
.background4-black {
	background-image: url('../images/background4-black.png?template=generic');
}
.background6-black {
	background-image: url('../images/background6-black.png?template=generic');
}
.background16-black {
	background-image: url('../images/background16-black.png?template=generic');
}
.background21-black {
	background-image: url('../images/background21-black.png?template=generic');
}
.background3-white {
	background-image: url('../images/background3-white.png?template=generic');
}
.background14-white {
	background-image: url('../images/background14-white.png?template=generic');
}
.background24-black {
	background-image: url('../images/background24-black.png?template=generic');
}
.background16-white {
	background-image: url('../images/background16-white.png?template=generic');
}
.background6-white {
	background-image: url('../images/background6-white.png?template=generic');
}
/* = ExtJs styles =
------------------------------------------------------------------------------ */

/*  don't change for compatibility with editor */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

img, body, html {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

q:before, q:after {
	content: '';
}

/* = Defaults =
------------------------------------------------------------------------------ */

html, body {
	height: 100%;
	overflow: hidden;
}

html.mobile, .mobile body {
	height: auto;
	overflow: visible;
}

@media print {
	html, body {
		height: auto;
		overflow: visible;
	}
}

a img {
	border: 0;
}

input {
	margin: 0;
	padding: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
	outline: 0;
	font-size: 100.01%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus {
	outline: 0;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Button */
.button {
	height: 24px;
	border: 0;
	cursor: default;
}

.button .l, .button .r {
	width: 5px;
	background-repeat: no-repeat;
}

.button .l {
	background-image: url('../images/button/button-l.png?template=generic');
}

.button .r {
	background-image: url('../images/button/button-r.png?template=generic');
}

.button .m {
	color: #212121;
	font: 11px Tahoma, sans-serif;
	background-image: url('../images/button/button-bg.png?template=generic');
}

.button .m i {
	display: none;
	padding-left: 21px;
	background-position: top center;
	background-repeat: no-repeat;
	line-height: 16px;
}

.button-hover .l {
	background-image: url('../images/button/button-hl.png?template=generic');
}

.button-hover .r {
	background-image: url('../images/button/button-hr.png?template=generic');
}

.button-hover .m {
	background-image: url('../images/button/button-hbg.png?template=generic');
}

.button-active .l {
	background-image: url('../images/button/button-al.png?template=generic');
}

.button-active .r {
	background-image: url('../images/button/button-ar.png?template=generic');
}

.button-active .m {
	background-image: url('../images/button/button-abg.png?template=generic');
}

.remove-button .m i {
	display: inline;
	background-image: url('../images/icons/delete-icon.png?template=generic');
}

.fullsize-button .m i {
	display: inline;
	background-image: url('../images/icons/fullsize-icon.png?template=generic');
	padding-left: 17px;
}

/* List */
.pageContentText {
	line-height: 1.42;
}

.pageContentText li {
	display: list-item;
}

.pageContentText ul, .pageContentText ol {
	/* margin: 1.12em 0 1.12em 20px;
	padding-left: 20px; */
}

.pageContentText ul {
	/*list-style-type: disc; */
}

.pageContentText ul ul {
	list-style-type: circle;
}

.pageContentText ul ul ul {
	list-style-type: square;
}

.pageContentText ol {
	list-style-type: decimal;
}

.pageContentText ol ul, .pageContentText ul ol, .pageContentText ul ul, .pageContentText ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

.pageContentText strong, .pageContentText strong * {
	font-weight: bolder;
}

.pageContentText em, .pageContentText em *, .pageContentText address, .pageContentText address * {
	font-style: italic;
}

.pageContentText .x-btn em, .pageContentText .x-btn em * {
	font-style: normal;
}

/* Heading */
.pageContentText h1 {
	margin: 0;
	padding: .335em 0;
}

.pageContentText h2 {
	margin: 0;
	padding: .375em 0;
}

.pageContentText h3 {
	font-size: 1.17em;
	margin: 0;
	padding: .415em 0;
}

.pageContentText h4, .pageContentText p, .pageContentText blockquote {
	margin: .56em 0;
	padding: 0;
}

.pageContentText h5 {
	font-size: .83em;
	margin: 0;
	padding: .75em 0;
}

.pageContentText h6 {
	font-size: .75em;
	margin: 0;
	padding: .835em 0;
}

/* Table */
.table {
	width: 100%;
	border: 1px solid #808080;
	border-collapse: collapse;
}

.table td {
	border: 1px solid #808080;
	padding: 3px 5px;
}

.pageContentText table {
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
}

.pageContentText td {
	min-width: 5px;
	padding: 0.1em 0.2em;
}

/* Usability improvement: after insert user can type in every cell of a table */
.pageContentText pre {
	margin: 1em 0;
}

.pageContentText .cleared {
	height: 0;
	line-height: 0;
	font-size: 0;
}

/* Noscript*/
.noscript-warning {
	font: 11px Tahoma, sans-serif;
	color: #6f4f21;
	border: 2px solid #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.noscript-warning-inner {
	padding: 0 10px;
	background: #fffec2 url('../images/noscript-warning-bg.png?template=generic') top left repeat-x;
	border: 1px solid #ffb400;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.noscript-warning-icon {
	background: transparent url('../images/icons/noscript-warning-icon.png?template=generic') left center no-repeat;
	padding: 8px 0 8px 21px;
}

.noscript-warning a {
	color: #3779ce;
}

/* Form */
.form-item, .form-note {
	margin-bottom: 10px;
}

.form-item .form-item-label {
	display: block;
}

.form-item textarea {
	overflow: auto;
}

.form-item input.error, .form-item textarea.error {
	background-color: #fcc;
}

.form-item label.error {
	padding: 0 0 0 17px;
	background: transparent url('../images/red-warn-small.png?template=generic') 2px 2px no-repeat;
}

.form-item .form-item-textfield, .form-item .form-item-textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.form-item .form-item-textarea {
	height: 100px;
}

.form-item .form-item-captcha img {
	display: block;
	margin: 5px 0;
	width: 120px;
	height: 60px;
}

.form-item .form-item-captcha a {
	text-decoration: none;
	border-bottom: 1px dashed;
}

/* Decorations */
.background {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	zoom: 1;
}

.ff3_5 .background, .ie .background {
	background-image: none !important;
}

.ie .background a {
	position: relative;
}

.background-custom {
	background-size: auto;
	-o-background-size: auto;
	-webkit-background-size: auto;
	-khtml-background-size: auto;
	-moz-background-size: auto;
}

.external-top, .external-bottom {
	background-repeat: no-repeat;
}

.external-top div, .external-bottom div {
	background-position: top right;
	background-repeat: no-repeat;
}

.external-top div div, .external-bottom div div {
	background-position: top left;
	background-repeat: no-repeat;
}

.external-top div div div, .external-bottom div div div {
	background-position: top right;
	background-repeat: no-repeat;
}

.external-top div div div div, .external-bottom div div div div {
	background-position: top left;
	background-repeat: repeat-x;
}

.external-side-left, .external-side-right {
	background-repeat: repeat-y;
}

.external-side-left-top, .external-side-left-bottom, .external-side-right-top, .external-side-right-bottom {
	background-repeat: no-repeat;
}

.external-side-left-bottom {
	background-position: bottom left;
}

.external-side-right, .external-side-right-top {
	background-position: top right;
}

.external-side-right-bottom {
	background-position: bottom right;
}

/* = Layout =
------------------------------------------------------------------------------ */

.site-frame {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#wrapper {
	margin: auto;
}

#layout {
	margin: auto;
}

#header {
	margin: auto;
}

#header-top {
	background-position: top left;
	background-repeat: no-repeat;
}

#header-top div {
	background-position: top right;
	background-repeat: no-repeat;
}

#header-top div div {
	padding: 0;
	background-repeat: repeat-x;
}

#header-side {
	background-repeat: repeat-y;
}

#header-side2 {
	background-position: top right;
	background-repeat: repeat-y;
}

#header-bottom {
	background-position: bottom left;
	background-repeat: no-repeat;
}

#header-bottom div {
	background-position: bottom right;
	background-repeat: no-repeat;
}

#header-bottom div div {
	padding: 0;
	background-position: bottom;
	background-repeat: repeat-x;
}

#header-content {
	background-position: center right;
	background-repeat: no-repeat;
	position: relative;
}

#columns {
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#columns:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

#column1-top {
	background-position: top left;
	background-repeat: no-repeat;
}

#column1-top div {
	background-position: top right;
	background-repeat: no-repeat;
}

#column1-top div div {
	padding: 0;
	background-repeat: repeat-x;
}

#column1-side {
	background-repeat: repeat-y;
}

#column1-side2 {
	background-position: top right;
	background-repeat: repeat-y;
}

#column1-bottom {
	background-position: bottom left;
	background-repeat: no-repeat;
}

#column1-bottom div {
	background-position: bottom right;
	background-repeat: no-repeat;
}

#column1-bottom div div {
	padding: 0;
	background-position: bottom;
	background-repeat: repeat-x;
}

#column2-top {
	background-position: top left;
	background-repeat: no-repeat;
}

#column2-top div {
	background-position: top right;
	background-repeat: no-repeat;
}

#column2-top div div {
	padding: 0;
	background-repeat: repeat-x;
}

#column2-side {
	background-repeat: repeat-y;
}

#column2-side2 {
	background-position: top right;
	background-repeat: repeat-y;
}

#column2-bottom {
	background-position: bottom left;
	background-repeat: no-repeat;
}

#column2-bottom div {
	background-position: bottom right;
	background-repeat: no-repeat;
}

#column2-bottom div div {
	padding: 0;
	background-position: bottom;
	background-repeat: repeat-x;
}

#content-top {
	background-position: top left;
	background-repeat: no-repeat;
}

#content-top div {
	background-position: top right;
	background-repeat: no-repeat;
}

#content-top div div {
	padding: 0;
	background-repeat: repeat-x;
}

#content-side {
	background-repeat: repeat-y;
}

#content-side2 {
	background-position: top right;
	background-repeat: repeat-y;
}

#content-bottom {
	background-position: bottom left;
	background-repeat: no-repeat;
}

#content-bottom div {
	background-position: bottom right;
	background-repeat: no-repeat;
}

#content-bottom div div {
	padding: 0;
	background-position: bottom;
	background-repeat: repeat-x;
}

#footer-wrapper, #footer {
	margin: auto;
}

#footer-top {
	background-position: top left;
	background-repeat: no-repeat;
}

#footer-top div {
	background-position: top right;
	background-repeat: no-repeat;
}

#footer-top div div {
	padding: 0;
	background-repeat: repeat-x;
}

#footer-side {
	background-repeat: repeat-y;
}

#footer-side2 {
	background-position: top right;
	background-repeat: repeat-y;
}

#footer-bottom {
	background-position: bottom left;
	background-repeat: no-repeat;
}

#footer-bottom div {
	background-position: bottom right;
	background-repeat: no-repeat;
}

#footer-bottom div div {
	padding: 0;
	background-position: bottom;
	background-repeat: repeat-x;
}

#footer-content {
	position: relative;
}

#header-content, #footer-content {
	min-height: 24px;
	height: auto !important;
	height: 24px;
}

.elastic-container {
	width: auto !important;
}

.elastic-container #columns {
	margin: auto;
}

/* = Widgets =
------------------------------------------------------------------------------ */

.widget {
	padding: 5px 10px;
}

.widget-content {
	overflow-x: hidden;
}

.widget .widget-title {
	padding-top: 0;
}

.widget-pagecontent {
	padding: 0;
}

.widget-pagecontent > .widget-content {
	overflow-x: visible;
}

/* Breadcrumbs */
.widget-breadcrumbs div {
	display: inline;
}

.widget-breadcrumbs div.widget-content {
	display: block;
}

.widget-breadcrumbs .icon, .widget-breadcrumbs .icon-with-title {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: transparent url("../images/home.gif?template=generic") center left no-repeat;
}

.widget-breadcrumbs .icon-with-title {
	margin: 0 5px 0 0;
}

.widget-breadcrumbs .separator, .widget-breadcrumbs .page {
	display: inline-block;
	vertical-align: middle;
}

.widget-breadcrumbs .separator {
	margin: 0 5px;
}

/* Header */
.widget-header {
	overflow: hidden;
	position: relative;
	padding: 0;
	width: 100%;
	height: 120px;
	background-color: #00529D;

}

.widget-header .widget-content {
	zoom: 1;
}

.header-logo {
	position: absolute;
}

.header-title, .header-subtitle {
	position: absolute;
	white-space: nowrap;
}

.stroke-white {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	filter: progid:DXImageTransform.Microsoft.Glow(color = #ffffff, strength = 2);
}

.stroke-black {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	filter: progid:DXImageTransform.Microsoft.Glow(color = #000000, strength = 2);
}

/* Navigation */
.widget-navigation {
	padding: 0;
	padding-left: 180px;
}

.widget-navigation .widget-content {
	overflow-x: visible;
}

.pageContentText .navigation, .pageContentText .navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pageContentText .navigation {
	width: 100%;
	min-height: 24px;
	letter-spacing: -1em;
	font-size: 0;
}

.pageContentText .navigation ul {
	display: none;
	position: absolute;
	left: 0;
	min-width: 100%;
	z-index: 1;
}

.pageContentText .navigation > li {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	letter-spacing: 0;
}

.pageContentText .navigation ul li {
	display: block;
	text-align: left;
}

.pageContentText .navigation li:hover {
	position: relative;
}

.pageContentText .navigation li.navigation-item-expand:hover > ul {
	display: block;
}

.pageContentText .navigation li a {
	display: block;
	padding: 6px 10px 7px;
	text-decoration: none;
	position: relative;
}

.pageContentText .navigation ul ul {
	display: none;
	position: absolute;
	top: 3px;
	left: 100%;
	min-width: 100%;
	margin-left: -3px;
}

.column-left {
	float: left;
}

.column-right {
	float: right;
}

.column .navigation {
	text-align: left !important;
}

.column .navigation li {
	float: none;
	display: block;
	width: auto !important;
	white-space: normal;
}

.column-left .navigation ul {
	top: 3px;
	left: 100%;
	margin-left: -3px;
	min-width: 0;
}

.column-right .navigation ul {
	top: 3px;
	left: auto;
	right: 100%;
	margin-right: -3px;
	min-width: 0;
}

.column-left .navigation ul ul {
	top: 3px;
	left: 100%;
	margin-left: -3px;
	min-width: 0;
}

.column-right .navigation ul ul {
	top: 3px;
	left: auto;
	right: 100%;
	margin-right: -3px;
	min-width: 0;
}

.column .navigation ul li {
	white-space: nowrap;
	line-height: normal !important;
}

.column .navigation li a {
	line-height: normal !important;
	word-wrap: break-word;
}

.navigation-item-bullet {
	display: none;
}

.column .navigation-item-expand > a > .navigation-item-bullet,
.navigation ul .navigation-item-expand > a > .navigation-item-bullet {
	display: block;
	position: absolute;
	right: 5px;
}

.column .navigation-item-expand > a > .navigation-item-text,
.navigation ul .navigation-item-expand > a > .navigation-item-text {
	padding-right: 10px;
}

/* Search */
.widget-search .gsc-above-wrapper-area, .widget-search .gsc-resultsbox-visible,
.widget-search .gsc-above-wrapper-area *, .widget-search .gsc-resultsbox-visible * {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	border: none;
}

.widget-search form.gsc-search-box {
	margin-bottom: 0;
}

.widget-search div.gsc-control {
	width: 100%;
}

.widget-search table.gsc-search-box td.gsc-input {
	width: 100%;
	padding: 0 4px 0 0;
}

.widget-search table.gsc-search-box input.gsc-input {
	width: 100%;
	margin: 0;
}

.widget-search table.gsc-search-box td.gsc-search-button {
	padding: 0 0 0 3px;
}

.widget-search table.gsc-search-box input.gsc-search-button {
	margin: 0 0 0 3px;
}

.widget-search td.gsc-clear-button {
	display: none;
}

.widget-search-active .widget {
	display: none;
}

.widget-search-active .widget-search {
	display: block;
}

.widget-search-results {
	padding: 5px 10px;
}

.widget-search-results .gsc-resultsHeader {
	display: none;
}

.widget-search-results .gs-no-results-result .gs-snippet, .widget-search-results .gs-error-result .gs-snippet {
	color: Black;
}

.widget-search #cse {
	overflow: hidden;
}

.widget-search-results .gsc-webResult:after, .widget-search-results .gsc-control-cse:after {
	content: none;
	display: block;
	height: auto;
	clear: none !important;
	visibility: hidden;
}

/* Video */
.widget-video .widget-content {
	display: block;
	text-align: center;
}

/* Text */
.widget-text {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

.widget-text ul, .widget-text ol {
	overflow: hidden;
}

/* Eshop */
.column .widget-eshop_basket .ecwid-minicart {
	display: block;
	margin: 0 auto;
}

.widget-eshop_catalog div.ecwid-results-topPanel div {
	white-space: normal;
}

/* Commenting */
#dsq-global-toolbar, #dsq-account-dropdown, #dsq-subscribe {
	display: none !important;
}

#dsq-content.clearfix:after {
	display: none;
}

* html #dsq-content.clearfix {
	height: auto;
}

.widget-commenting .dsq-reply {
	margin-top: 0;
}

/* Blog */
.widget-blog .widget-blog_post {
	padding: 0 10px 10px;
}

.widget-blog > .widget-content {
	overflow-x: visible;
}

.widget-blog_post .widget {
	padding: 0;
}

.widget-blog_post > .widget-content {
	overflow-x: visible;
}

.widget-blog .widget-blog-links, .widget-blog_post .widget-blog_post-links {
	text-align: center;
}

.widget-blog .widget-blog-links {
	margin: 0 auto;
}

.widget-blog_post .widget-blog_post-content {
	padding: 5px 0;
}

.widget-blog_post .widget-blog_post-links-readmore {
	text-align: left;
}

.widget-blog .widget-blog_post {
	margin-bottom: 20px;
	background: transparent url('../images/darker.png?template=generic') 0 0 repeat;
}

.widget-blog_post-created em {
	display: inline-block;
	font-style: normal;
}

/* Columns */
.widget-columns {
	margin: 2px 0;
	padding: 0;
}

.widget-columns > div.widget-content {
	overflow-x: visible;
}

.widget-columns-table {
	width: 100%;
	table-layout: fixed;
}

.widget-columns-column {
	vertical-align: top;
}

td.widget-columns-column {
	padding: 0;
}

.widget-columns-table td.widget-columns-split {
	border: 0;
	min-width: 2px;
	width: 2px;
	padding: 0;
	margin: 0;
}

/* Pagination */
.pagination {
	font-size: 85%;
	line-height: 1.52;
	margin: 10px auto 0 auto;
}

.pagination .pagination-prev {
	padding-right: 20px;
}

.pagination .pagination-next {
	padding-left: 15px;
}/* Layout
------------------------------------------------------------------------------ */

.mobile #wrapper {
	min-width: 100%;
	width: 100%;
}

.mobile .external-top,
.mobile .external-bottom {
	display: none;
}

.mobile #wrapper .external-side-right-top,
.mobile #wrapper .external-side-left-top,
.mobile #wrapper .external-side-left,
.mobile #wrapper .external-side-right,
.mobile #wrapper .external-side-right-bottom,
.mobile #wrapper .external-side-left-bottom {
	background: none;
	padding: 0;
}

.mobile #layout {
	padding: 0;
}

.mobile #columns {
	padding-left: 0;
	padding-right: 0;
}

.mobile #column1,
.mobile #column2 {
	border-radius: 0;
	float: none;
	width: 100%;
}

.mobile #column1-content,
.mobile #column2-content,
.mobile #content-content {
	min-height: 0;
}

.mobile #content {
	margin-left: 0;
	margin-right: 0;
}

.mobile #header, .mobile #footer {
	margin: 0;
}

/* Widgets
------------------------------------------------------------------------------ */

/* Header */
.mobile .header-image {
	max-width: 100%;
}
.header-image{
	width: 100%;
	padding-left: 30px;
	padding-top: 30px;
	
}
/* Video */
.mobile .widget-video .widget-content iframe {
	height: auto;
	max-width: 100%;
}

/* Text */
.mobile .widget-text img {
	height: auto;
	max-width: 100%;
	width: auto;
}

/* Image Gallery */
.mobile #thumb,
.mobile #view-tools,
.mobile #view-counter,
.mobile #view-details {
	display: none;
}
			#wrapper {
				min-width: 428px;
				/*width: 1144px;*/
			}
			#watermark {
				min-width: none;
			}
			#layout {
				width: auto;
			}
			#header {
				margin-left: 0px;
				margin-right: 0px;
			}
			#columns {
				min-width: ;
				width: auto;
				margin: 0;
				padding-top: 8px;
				padding-bottom: 8px;
			}
			#column1 {
				display: none;
				width: 200px;
			}
			#column1-content {
				min-height: 350px;
			}
			#column2 {
				display: block;
				width: 200px;
			}
			#column2-content {
				min-height: 350px;
			}
			#content {
				margin-left: 0px;
				margin-right: 208px;
			}
			#content-content {
				min-height: 350px;
			}
			#footer-wrapper {
				width: auto;
			}
			#footer {
				margin-left: 0;
				margin-right: 0;
				width: auto;
			}
		
		.pageContentText {font-family: "Tahoma" ;font-size: 14px ;font-weight: normal;font-style: normal;}
		.pageContentText p {text-decoration: none;}
		.pageContentText h1 {font-family: "Arial" ;font-size: 32px ;font-weight: bold;font-style: normal;text-decoration: none;}
		.pageContentText h2 {font-family: "Arial" ;font-size: 22px ;font-weight: bold;font-style: normal;text-decoration: none;}
		body {background-color: #FFFFFF;}
		#watermark {background-color: #00529D;}
		#header {background-color: #FFFFFF;}.header {color: #000000;}.header a {color: #FFF600;}.header h1, .header h1 a {color: #4D4D4D;}.header h2, .header h2 a {color: #333333;}.header .navigation {background-color: transparent;}.header .navigation > li > a {color: #000000;}.header .navigation > li {background-color: transparent;}.header .navigation li.selected > a, .header .navigation li.childselected > a {color: #000000;}.header .navigation li.selected, .header .navigation li.childselected {background-color: #FFFFFF;}.header .navigation li:hover > a {color: #FFFFFF !important;}.header .navigation li:hover {background-color: #52A092 !important;}.header .navigation ul > li > a {color: #000000;}.header .navigation ul > li {background-color: #FFFFFF;}.header .navigation ul {border: 1px solid #000000;}.header .navigation ul ul{border: 1px solid #000000;}.header .widget-breadcrumbs a, .header .widget-breadcrumbs span { color: #000000; }#footer {background-color: #FFFFFF;}.footer {color: #000000;}.footer a {color: #0000FF;}.footer h1, .footer h1 a {color: #4D4D4D;}.footer h2, .footer h2 a {color: #F21C40;}.footer .navigation {background-color: transparent;}.footer .navigation > li > a {color: #000000;}.footer .navigation > li {background-color: transparent;}.footer .navigation li.selected > a, .footer .navigation li.childselected > a {color: #000000;}.footer .navigation li.selected, .footer .navigation li.childselected {background-color: #FFFFFF;}.footer .navigation li:hover > a {color: #FFFFFF !important;}.footer .navigation li:hover {background-color: #52A092 !important;}.footer .navigation ul > li > a {color: #000000;}.footer .navigation ul > li {background-color: #FFFFFF;}.footer .navigation ul {border: 1px solid #000000;}.footer .navigation ul ul{border: 1px solid #000000;}.footer .widget-breadcrumbs a, .footer .widget-breadcrumbs span { color: #000000; }#column1 {background-color: #52A092;}.column1 {color: #FFFFFF;}.column1 a {color: #33FFFF;}.column1 h1, .column1 h1 a {color: #FFFFFF;}.column1 h2, .column1 h2 a {color: #FFFFFF;}.column1 .navigation {background-color: transparent;}.column1 .navigation > li > a {color: #FFFFFF;}.column1 .navigation > li {background-color: transparent;}.column1 .navigation li.selected > a, .column1 .navigation li.childselected > a {color: #000000;}.column1 .navigation li.selected, .column1 .navigation li.childselected {background-color: #FFFFFF;}.column1 .navigation li:hover > a {color: #000000 !important;}.column1 .navigation li:hover {background-color: #F7FDED !important;}.column1 .navigation ul > li > a {color: #000000;}.column1 .navigation ul > li {background-color: #FFFFFF;}.column1 .navigation ul {border: 1px solid #000000;}.column1 .navigation ul ul{border: 1px solid #000000;}.column1 .widget-breadcrumbs a, .column1 .widget-breadcrumbs span { color: #FFFFFF; }#column2 {background-color: #00529D;}.column2 {color: #FFFFFF;}.column2 a {color: #F9FFBD;}.column2 h1, .column2 h1 a {color: #FFFFFF;}.column2 h2, .column2 h2 a {color: #FFFFFF;}.column2 .navigation {background-color: transparent;}.column2 .navigation > li > a {color: #FFFFFF;}.column2 .navigation > li {background-color: transparent;}.column2 .navigation li.selected > a, .column2 .navigation li.childselected > a {color: #000000;}.column2 .navigation li.selected, .column2 .navigation li.childselected {background-color: #FFFFFF;}.column2 .navigation li:hover > a {color: #000000 !important;}.column2 .navigation li:hover {background-color: #F7FDED !important;}.column2 .navigation ul > li > a {color: #000000;}.column2 .navigation ul > li {background-color: #FFFFFF;}.column2 .navigation ul {border: 1px solid #000000;}.column2 .navigation ul ul{border: 1px solid #000000;}.column2 .widget-breadcrumbs a, .column2 .widget-breadcrumbs span { color: #FFFFFF; }#content {background-color: #FFFFFF;}.content {color: #000000;}.content a {color: #0000FF;}.content h1, .content h1 a {color: #4D4D4D;}.content h2, .content h2 a {color: #333333;}.content .navigation {background-color: transparent;}.content .navigation > li > a {color: #000000;}.content .navigation > li {background-color: transparent;}.content .navigation li.selected > a, .content .navigation li.childselected > a {color: #000000;}.content .navigation li.selected, .content .navigation li.childselected {background-color: #FFFFFF;}.content .navigation li:hover > a {color: #FFFFFF !important;}.content .navigation li:hover {background-color: #52A092 !important;}.content .navigation ul > li > a {color: #000000;}.content .navigation ul > li {background-color: #FFFFFF;}.content .navigation ul {border: 1px solid #000000;}.content .navigation ul ul{border: 1px solid #000000;}.content .widget-breadcrumbs a, .content .widget-breadcrumbs span { color: #000000; }.content div.ecwid-productBrowser-auth a {color: #0000FF;font-size: 14px ;font-family: "Tahoma" ;}.content .ecwid-productBrowser-head {color: #4D4D4D;}.content div.ecwid-productBrowser-subcategories-categoryName span {color: #000000;}.content .ecwid-productBrowser-categoryPath span.ecwid-productBrowser-categoryPath-categoryLabel {color: #000000;}.content div.ecwid-productBrowser-categoryPath a, .content div.ecwid-productBrowser-categoryPath a:active,.content div.ecwid-productBrowser-categoryPath a:visited {color: #0000FF;}.content .ecwid-productBrowser-categoryPath span.ecwid-productBrowser-categoryPath-separator {color: #0000FF;}.content .ecwid-minicart-mini-link, .content span.ecwid-minicart-mini-count {color: #0000FF;}.content .ecwid-results-topPanel div.ecwid-results-topPanel-itemsCountLabel {color: #000000;}.content .ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-current {color: #000000;}.content .ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-link {color: #0000FF;}.content .ecwid-results-topPanel div.gwt-Label {color: #000000;}.content div.ecwid-pager span {color: #000000;}.content div.ecwid-pager span.ecwid-pager-link-enabled, .content div.ecwid-pager span.ecwid-pager-link-enabled span {color: #0000FF;}.content .ecwid-productBrowser-head {font-size: 32px ;font-family: "Arial" ;}.content div.ecwid-productBrowser-subcategories-categoryName span {font-size: 20px ;font-family: "Tahoma" ;}.content .ecwid-productBrowser-categoryPath span.ecwid-productBrowser-categoryPath-categoryLabel {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-categoryPath a, .content div.ecwid-productBrowser-categoryPath a:active,.content div.ecwid-productBrowser-categoryPath a:visited {font-size: 14px ;font-family: "Tahoma" ;}.content .ecwid-productBrowser-categoryPath span.ecwid-productBrowser-categoryPath-separator {font-size: 14px ;font-family: "Tahoma" ;}.content .ecwid-minicart-mini-link, .content span.ecwid-minicart-mini-count {font-size: 14px ;font-family: "Tahoma" ;}.content .ecwid-results-topPanel div.ecwid-results-topPanel-itemsCountLabel {font-size: 12px ;font-family: "Tahoma" ;}.content .ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-current {font-size: 14px ;font-family: "Tahoma" ;}.content .ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-link {font-size: 14px ;font-family: "Tahoma" ;}.content .ecwid-results-topPanel div.gwt-Label {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-pager span {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-pager span.ecwid-pager-link-enabled, .content div.ecwid-pager span.ecwid-pager-link-enabled span {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsGrid div.ecwid-productBrowser-productNameLink a {font-size: 17px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsGrid div.ecwid-productBrowser-sku {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsGrid div.ecwid-productBrowser-price {font-size: 20px ;font-family: "Tahoma" ;font-weight: bold;}.content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-productNameLink a {font-size: 17px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-sku {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-productsList-descr {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-price {font-size: 17px ;font-family: "Tahoma" ;font-weight: bold;}.content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a, .content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-sku, .content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-price, .content div.ecwid-productBrowser-productsTable-addToBagLink {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-price {font-weight: bold;}.content div.ecwid-productBrowser-details-descr {font-size: 14px ;font-family: "Tahoma" ;}.content div.ecwid-productBrowser-productsGrid div.ecwid-productBrowser-productNameLink a, .content div.ecwid-productBrowser-productsGrid div.ecwid-productBrowser-productNameLink a:active, .content div.ecwid-productBrowser-productsGrid div.ecwid-productBrowser-productNameLink a:visited, .content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-productNameLink a, .content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-productNameLink a:active, .content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-productNameLink a:visited {color: #000000;}.content div.ecwid-productBrowser-productsGrid div.ecwid-productBrowser-sku, .content div.ecwid-productBrowser-productsList div.ecwid-productBrowser-sku {color: #000000;}.content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a, .content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a:active, .content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a:visited {color: #000000;}.content div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-sku {color: #000000;}.content div.ecwid-productBrowser-productsTable-addToBagLink {color: #0000FF;}.content div.ecwid-productBrowser-cart div.ecwid-productBrowser-price,.content div.ecwid-productBrowser-price {color: #FF0000;}.content div.ecwid-productBrowser-details-descr,.content div.ecwid-productBrowser-productsList-descr {color: #000000;}div.ecwid-minicart-mini-rolloverContainer { z-index: 9900 !important; }div.ecwid-minicart-mini { z-index: 9800 !important; }.external-border3-black .external-top, 
		
		
		.external-border3-black .external-bottom { padding: 0 0 0 60px; }
		
		.external-border3-black .external-top div, .external-border3-black .external-bottom div {	padding: 0 60px 0 0; }
		.external-border3-black .external-top div div, .external-border3-black .external-bottom div div { padding: 0 0 0 0px; }
		.external-border3-black .external-top div div div, .external-border3-black .external-bottom div div div {	padding: 0 0px 0 0; }
		.external-border3-black .external-top div div div div, .external-border3-black .external-bottom div div div div { height: 15px; }
		/*.external-border3-black .external-side-right-bottom { padding: 0 60px 0 60px; }*/
		.external-border3-black .external-top { background-image: url('images/external-border3-black-top-left.png'); }
		.external-border3-black .external-top div {	background-image: url('images/external-border3-black-top-right.png'); }
		.external-border3-black .external-top div div { background-image: url('images/external-border3-black-top-left2.png'); }
		.external-border3-black .external-top div div div {	background-image: url('images/external-border3-black-top-right2.png'); }
		.external-border3-black .external-top div div div div { background-image: url('images/external-border3-black-top.png'); }
		.external-border3-black .external-bottom { background-image: url('images/external-border3-black-bottom-left.png'); }
		.external-border3-black .external-bottom div {	background-image: url('images/external-border3-black-bottom-right.png'); }
		.external-border3-black .external-bottom div div { background-image: url('images/external-border3-black-bottom-left2.png'); }
		.external-border3-black .external-bottom div div div { background-image: url('images/external-border3-black-bottom-right2.png'); }
		.external-border3-black .external-bottom div div div div { background-image: url('images/external-border3-black-bottom.png'); }
		.external-border3-black .external-side-left { background-image: url('images/external-border3-black-left.png'); }
		.external-border3-black .external-side-left-top { background-image: url('images/external-border3-black-left-top.png'); }
		.external-border3-black .external-side-left-bottom { background-image: url('images/external-border3-black-left-bottom.png'); }
		.external-border3-black .external-side-right { background-image: url('images/external-border3-black-right.png'); }
		.external-border3-black .external-side-right-top { background-image: url('images/external-border3-black-right-top.png'); }
		.external-border3-black .external-side-right-bottom { background-image: url('images/external-border3-black-right-bottom.png'); }.border-none>.top {
				height: 0px;
				padding-left: 0px;
				background: transparent url('images/border-none-top-left.png') top left no-repeat;
			}
			.border-none>.top  div{
				height: 0px;
				padding-right: 0px;
				background: transparent url('images/border-none-top-right.png') top right no-repeat;
			}
			.border-none>.top  div div{
				height: 0px;
				background: transparent url('images/border-none-top.png') top left repeat-x;
			}
			.border-none>.side{
				padding-left: 0px;
				background: transparent url('images/border-none-left.png') top left repeat-y;
			}
			.border-none>.side>.side2{
				padding-right: 0px;
				background: transparent url('images/border-none-right.png') top right repeat-y;
			}
			.border-none>.bottom {
				height: 0px;
				padding-left: 0px;
				background: transparent url('images/border-none-bottom-left.png') bottom left no-repeat;
			}
			.border-none>.bottom  div{
				height: 0px;
				padding-right: 0px;
				background: transparent url('images/border-none-bottom-right.png') bottom right no-repeat;
			}
			.border-none>.bottom  div div{
				height: 0px;
				background: transparent url('images/border-none-bottom.png') bottom left repeat-x;
			}
			
			
/*form css			*/
.contactgap {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-items {
    margin-top: 30px;
}

.contact-items .contact-item {
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 16px;
}

.contact-items .contact-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #4169E1;
    vertical-align: middle;
    margin-right: 5px;
    color: #fff;
    text-align: center;
}


.main-container{
	background-color: white;

}

p {
    font-weight: 300;
    line-height: 30px;
}

.clearfix {
    display: block;
}
			
form {
    display: block;
    margin-top: 0em;
}			

.alert {
     display: none;
    }

.contact-items .contact-icon .fa {
    vertical-align: sub;
    font-size: 20px;
    margin-top: 7px;
}			

/*css for header agent photo*/

.header-image1{
	width: 100%;
	padding-right: 30px;
	padding-top: 5px;
	float: right;
	
}
.header-image2{
	/*width: 100%;*/
	padding-right: 30px;
	padding-top: 5px;
	/*float: right;*/
	/*text-align: -webkit-right;*/
	font-size: 20px;
	display: inline;
	position: absolute;
	text-align: center;
	padding-left: 550px;
	color: white;
}
.greetings{
	padding-right: 30px;
	padding-top: 5px;
	/*float: right;*/
	/*text-align: -webkit-right;*/
	font-size: 20px;
	display: inline;
	position: absolute;
	text-align: center;
	padding-left: 25px;
	color: aqua;
	  /*box-sizing: border-box;
	  width: 300px;
	  height: auto;*/
	  
}
.header-image4{
	width: 100%;
	padding-right: 30px;
	padding-top: 5px;
	/*float: right;*/
	
}

.header-image3 {
	
	width:100%;
	padding-left:30px;
	padding-top:30px;
	cursor:pointer;

}
/*end css agent photo*/

/*for logo*/

.header-image5{
	width: 100%;
	padding-right: 30px;
	padding-top: 13px;
	float: left;
	padding-left: 30px;
	
}
/*end logo*/

/*google map*/
.contact-map {
    height: 350px;
    background: #ccc;
}